.artist-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.submit {
    margin-top: 25px;
    height: 120px;
}

.image-container {
    text-align: center;
    padding-top: 40px;
}

.nav-tabs {
    background-color: #e9e3e3;
}

.tab-content {
    background-color: white;
}

.td-title {
    white-space: nowrap
}

#submitArtist {
    height: 100px;
    width: 100px;
    padding: 0px;
    border-radius: 50%;
}